:root {
  --color-primary: #32c0df;
  --color-secondary: #d7970e;
  --color-hover: #d6320c;
  --color-black: #000;
  --color-white: #fff;
  --font-primary: Acme, sans-serif;
  --font-secondary: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  font-family: var(--font-primary);

}

ul:hover, ol:hover, dl:hover {
  color: var(--color-hover);
}

a {
  color: var(--color-black);
}

a:hover {
  color: var(--color-hover);
}
