:root {
  --color-primary: #32c0df;
  --color-secondary: #e6a20f;
  --color-accent: #af1108;
  --color-black: #222;
  --color-white: #fff;
  --font-primary: Acme, sans-serif;
  --font-secondary: Raleway, sans-serif;
}

html {
  font-family: var(--font-secondary);
  background-color: var(--color-black);
  color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
  outline: 3px solid var(--color-white);
}

ul:hover, ol:hover, dl:hover {
  color: var(--color-primary);
}

a {
  color: var(--color-white);
}

a:hover {
  color: var(--color-primary);
}

a:focus {
  outline: 3px solid var(--color-white);
}
