footer {
  background-color: var(--color-primary);
  overflow: hidden;
}

.footer-content {
  color: var(--color-white);
  float: left;
}

.footer-text {
  padding-top: .5em;
}

small {
  font-family: Acme, sans-serif;
}

@media screen and (max-width: 60em) {

  .footer-content {
    text-align: center;
    float: none;
  }

}
