footer {
  background-color: var(--color-black);
  overflow: hidden;
}

.footer-content {
  color: var(--color-primary);
  border-top: 1px solid var(--color-primary);
}

.social-media {
  float: left;
}

small {
  font-family: Acme, sans-serif;
}

@media screen and (max-width: 60em) {

  .social-media {
    text-align: center;
    float: none;
  }

  .footer-text {
    float: none;
    padding-top: .5em;
  }

}
