.btn {
  background-color: var(--color-secondary);
  border-style: none;
  color: var(--color-black);
  font-family: Raleway, sans-serif;
}

.btn:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}
