<header role="banner" class="masthead" id="back-to-header">
  <div class="header-logo">
    <a aria-label="Yu-Han Chang's logo/ligature" class="icon push-1-2" href="/index/">
      <i class="icon i-32">
        <img src="/images/logo-16.svg" alt="">
      </i>
      <span class="icon-label">Yu-Han Chang</span>
    </a>
  </div>
  <div role="navigation" class="header-nav">
    <ul class="list-group-inline">
      <li><a aria-label="Go to home page" class="gutter-1-2 island-1-2 {% if.page.highlight_nav == 'index' %}active{% endif %}" href="/index/">Home</a></li>
      <li><a aria-label="Go to portfolio page"class="gutter-1-2 island-1-2 {% if.page.highlight_nav == 'portfolio-works' %}active{% endif %}" href="#portfolio-works">Portfolio</a></li>
      <li><a aria-label="Go to about me section" class="gutter-1-2 island-1-2 {% if.page.highlight_nav == 'about' %}active{% endif %}" href="#about-me">About</a></li>
    </ul>
  </div>
</header>
