.masthead {
  overflow: hidden;
  background-color: var(--color-primary);
  width: 100%;
}

.masthead a {
  float: left;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-white);
  font-family: Acme, sans-serif;
  margin-bottom: 0;
}

.header-nav a:hover {
  color: var(--color-hover);
}

.header-nav a.active {
  color: var(--color-secondary);
}

.header-nav {
  float: right;
}

.list-group-inline {
  margin-bottom: 0;
}

@media screen and (max-width: 38em) {
  .masthead a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-nav {
    float: none;
  }
}
