<header>
  <div class="logo-container">
    <a aria-label="Yu-Han's logo/ligature" class="icon push-1-2" href="/index/">
      <i class="icon i-32">
        <img src="/images/logo-32.svg" alt="">
      </i>
      <span class="icon-label">Yu-Han Chang's Portfolio</span>
    </a>
  </div>
  <div role="navigation" class="header-nav">
  <ul class="list-group-inline">
    <li class="valign-middle"><a aria-label="Go to home page" class="gutter-1-2 island-1-2 {% if.page.highlight_nav == 'index' %}active{% endif %}" href="/index/">Home</a></li>
    <li class="valign-middle"><a aria-label="View my artworks"class="gutter-1-2 island-1-2 {% if.page.highlight_nav == 'products' %}active{% endif %}" href="#">Works</a></li>
    <li class="valign-middle"><a aria-label="Go to about me" class="gutter-1-2 island-1-2 {% if.page.highlight_nav == 'checkout' %}active{% endif %}" href="#">About</a></li>
  </ul>
</div>
</header>
