.container:hover {
  background-color: var(--color-primary);
  opacity: .5;
}

.content h6 {
  color: var(--color-primary);
}

.content {
  opacity: 0;
  color: var(--color-primary);
  top: 5em;
  left: 1em;
  transition: .5s, ease;
}

.container:hover .content {
  opacity: 1;
}
