<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/modules.css" rel="stylesheet">
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/type.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme|Raleway" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon.png">
  <meta name="description" content="{{page.desc}}">
  <meta name="ICBM" content="45.41117;-75.69812">
  <meta name="geo.position" content="45.41117;-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="{{page.url}}">
  <meta property="og:image" content="/images/logo.svg">
  <meta property="og:site_name" content="Yu-Han Chang's Portfolio">
  <meta property="og:description" content="{{page.desc}}">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Dai_Konran">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:url" content="{{page.url}}">
  <meta name="twitter:description" content="{{page.desc}}">
  <meta name="twitter:image" content="/images/logo.svg">

</head>
<body>
  <div class="grid">
    <div class="unit s-1 m-1 l-1">
      {% pattern header/header %}
    </div>
    <div class="unit s-1 m-1 l-1">
      {{content}}
    </div>
    <div class="unit s-1 m-1 l-1">
      {% pattern navigations/back-to-top %}
    </div>
    <div class="unit s-1 m-1 l-1">
      {% pattern footer/footer %}
    </div>

</body>
</html>
